.footer
  %p © #{BlueRegister::Application.config.provided_by} #{Time.now.year}
  %p BlueButton Registry is an opensource project #{link_to "powered by #{BlueRegister::Application.config.provided_by}", BlueRegister::Application.config.provided_by_url}